.slider_box { position: relative; }
.slider_title { font-size: 18px; font-weight: 600; height: 30px; line-height: 30px; }
.slider_box .pre, .slider_box .next { z-index: 100; position: absolute; width: 30px; height: 160px; background: #000; opacity: 0.5; top: 0; display: none; }
.slider_box .pre { left: 0; }
.slider_box .next { right: 0; }
.slider_imgs { position: relative; width: 1000px; height: 200px; overflow: hidden; }
.slider_imgs ul { position: absolute; width: 5000px; height: 200px; display: block; }
.slider_imgs li { float: left; margin-right: 10px; }
.slider_imgs li img { width: 120px; height: 160px; }