.book_edit_table { margin-top: 10px; width: 100%; }
.book_edit_table th { text-align: right; font-size: 16px; padding-right: 10px; font-weight: normal; }
.book_edit_table textarea { width: 320px; height: 80px; background: #F7F7F7; border: 1px solid #DBDBDB; }
.book_step { height: 40px; background: #EEE; }
.book_step a { float: left; width: 250px; height: 40px; line-height: 40px; color: #333; font-size: 20px; font-weight: 600; text-align: center; }
.book_step .step { background: #333; color: #FFF; }

.book_list_table { width: 100%; margin-top: 10px; }
.book_list_table a { color: #4464FB; }
.book_list_table th { background: #F3F3F3; color: #666; font-weight: normal; padding: 10px 8px; text-align: left; border-top: 1px solid #EEE; border-bottom: 1px solid #EEE; }
.book_list_table td { padding: 10px 8px; border-bottom: 1px solid #F1F1F1; }
.viewlist { float: right; margin-top: 22px; width: 15px; height: 13px; background: url(../images/listview.png) no-repeat; }
.viewgrid { float: right; margin: 22px 0 0 10px; width: 15px; height: 13px; background: url(../images/listview.png) -30px 0 no-repeat; }
.chapter_table { width: 100%; margin-top: 10px; }
.chapter_table th { background: #F3F3F3; color: #666; font-weight: normal; font-size: 12px; padding: 10px 8px; text-align: left; border-top: 1px solid #EEE; border-bottom: 1px solid #EEE; }
.chapter_table td { padding: 10px 8px; border-bottom: 1px solid #F1F1F1; }