* { margin: 0; padding: 0; }
body { font-size: 12px; font-family: arial,tahoma, '微软雅黑' }
html { background-color: #E1E1E1; }
ol, ul {list-style: none; }
a { color: #000; text-decoration: none; out-line: none; }
a:hover { color: #666; text-decoration: none; }
img { border: 0; }
select { border: 1px solid #e0dfdd; background: #FFF; }
button, input { line-height: normal; *overflow: visible; }
textarea { overflow: auto; vertical-align: top; padding: 5px; }
.no { display: none; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; height: 0; line-height: 0; overflow: hidden; font-size: 0; }
.clear10 { clear: both; height: 10px; overflow: hidden; font-size: 0; }
.clearfix { overflow: hidden; zoom: 1; }
.blue { color: #0098CA; }

/*输入框*/
.input1 { width: 80px; height: 30px; line-height: 30px; background: #FFF; color: #714a3a; padding: 0 5px; border: 1px solid #E0DFDD; }
.input2 { width: 180px; height: 30px; line-height: 30px; background: #FFF; color: #714a3a; padding: 0 5px; border: 1px solid #E0DFDD; }
.input3 { width: 160px; height: 30px; line-height: 30px; padding: 0 5px; background: #FFF; border: 1px solid #DBDBDB; }
.input4 { width: 100px; height: 30px; line-height: 30px; padding: 0 5px; background: #FFF; border: 1px solid #DBDBDB; }
.input5 { width: 240px; height: 30px; line-height: 30px; padding: 0 5px; background: #FFF; border: 1px solid #DBDBDB; }
.input6 { width: 320px; height: 30px; line-height: 30px; padding: 0 5px; background: #FFF; border: 1px solid #DBDBDB; }
.textarea1 { width: 300px; height: 80px; background: #FFF; color: #714a3a; border: 1px solid #E0DFDD; }

/*按钮 */
.btn1 { padding: 8px 20px; font-size: 16px; text-align: center; border: none; background: #097CAF; color:#FFF; cursor: auto; display: inline-block; cursor: pointer; }
.btn1:hover { color: #FFF; background: #0099CC; }
.btn2 { padding: 4px 10px; font-size: 15px; text-align: center; border: none; background: #097CAF; color:#FFF; cursor: auto; display: inline-block; cursor: pointer; }
.btn2:hover { color: #FFF; background: #0099CC; }
.err { border: 1px solid #FF0E00; margin: 0 5px; padding: 3px 10px 2px; background: #F7EFDB; color: #FF0E00; }
.box { margin: 0 20px; }
.box1000 { width: 1000px; margin: 0 auto; margin-top:110px; }

.header_fix { height: 20px; background: #E1E1E1; position: fixed; top: 0; left: 0; right: 0; z-index: 300; }
.header_box { background: #007AB2; position: fixed; margin: 20px; top: 0; left: 0; right: 0; height: 70px; z-index: 300; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
.header_box a { color: #FFF; }
.header_box a:hover { color: #FFF; }
.home_header { float: right; height: 70px; background: #128DC4; border-left: 1px solid #279FD6; overflow: hidden; zoom: 1; }
.header_box .logo { float: left; margin: 17px 5px 0 17px; }
.header_box .logo img { width: 160px; }
.header_box .search_box { float: right; margin-right: 25px; margin-top: 23px; }
.search_box .keyword { float: left; width: 160px; padding: 0 5px; height: 26px; line-height: 26px; background: #FFF; border: none; }
.search_box .dosearch { float: left; cursor: pointer; width: 26px; height: 26px; background: #FFF url(../images/search_btn.png) no-repeat center;  border: none; }
.home_header .header_pic { float: left; margin-top: 10px; margin-left: 10px; }
.home_header .header_pic img { width: 50px; height: 50px; }
.home_header .username { padding: 0 10px; width: 90px; float: left; height: 70px; line-height: 70px; overflow: hidden; }
.home_header .reg_log { padding: 0 10px; float: left; height: 70px; line-height: 70px; overflow: hidden; }
.header_menu { float: left; width: 650px; height: 70px; font: bold 16px arial; overflow: hidden; zoom: 1; }
.header_menu .m { float: left; padding: 0 10px; height: 70px; line-height: 70px; color: #AAA; }
.header_menu .m:hover { background: url(../images/bg.png); color: #FFF; }
.header_menu .browse { color: #FFF; float: left; padding-left: 47px; background: url(../images/menu.png) no-repeat 15px center; }
.header_menu .browse:hover { background: url(../images/menu.png) no-repeat 15px center; }
.menu a { float: left; margin: 0; font-weight: normal; font-size: 13px; width: 180px; height: 20px; line-height: 20px; padding-left: 6px; color: #333; padding-bottom: 3px; cursor: point; background: none; }
.menu a:hover { color: #0098CA; text-decoration: none; }
.menu { width: 180px; padding: 5px; background: #FFF; font-size: 15px; overflow: hidden; zoom: 1; position: absolute; z-index: 200; display: none; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
.menu .t { height: 25px; line-height: 25px; font-size: 17px; font-weight: bold; color: #000; padding-left: 3px; }
.menu .t:hover { color: #000; }
.user_menu { display: none; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
.user_menu a { display: block; padding-left: 10px; height: 30px; line-height: 30px; background: #FFF; color: #333; }

.footer { padding: 10px 0; height: 50px; margin-top: 10px; color: #999; overflow: hidden; zoom: 1; }
.footer .gh { float: left; margin-left: 200px; width: 44px; height: 47px; background: url(../images/gh.jpg) no-repeat; }
.footer .footerinfo { float: left; margin-left: 20px; line-height: 25px; }
.pagination { padding: 3px; font-size: 12px; margin-top: 5px; text-align: center;}
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #CCC; text-decoration: none; color:#DC351A;}
.pagination a:hover, div.pagination a:active { border: 1px solid #DC351A; background-color: #DC351A; color: #FFF; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #DC351A; font-weight: bold; background-color: #DC351A; color: #FFF; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD; }

.showmessage { width: 300px; margin: 0 auto; border: 1px solid #0079B4; background: #FFF; margin-top: 100px; }
.showmessage h2 { height: 25px; line-height: 25px; background: #0079B4; color: #FFF; font-size: 14px; text-align: center; border-bottom: 1px solid #0079B4; }
.showmessage p { padding: 10px 15px; }