* { margin: 0; padding: 0; }
body { font-size: 12px; font-family: tahoma,arial,'微软雅黑' }
html { }
ol, ul {list-style: none; }
a { color: #000; text-decoration: none; out-line: none; }
a:hover { color: #666; text-decoration: underline; }
img { border: 0; }
select { border-radius: 2px; border: 1px solid #e0dfdd; background: #FFF; }
button, input { line-height: normal; *overflow: visible; }
textarea { overflow: auto; vertical-align: top; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; height: 0; line-height: 0; overflow: hidden; font-size: 0; }
.clear10 { clear: both; height: 10px; overflow: hidden; font-size: 0; }
.clearfix { overflow: hidden; zoom: 1; }

/*输入框*/
.input1 { width: 80px; height: 26px; line-height: 26px; background: #FFF; color: #714a3a; font-size: 14px; font-weight: bold; padding: 0 3px; border: 1px solid #e0dfdd; }
.input2 { width: 180px; height: 26px; line-height: 26px; background: #FFF; color: #714a3a; font-size: 14px; font-weight: bold; padding: 0 3px; border: 1px solid #e0dfdd; }
.input3 { width: 160px; height: 24px; line-height: 24px; background: #F7F7F7; border: 1px solid #DBDBDB; }
.input4 { width: 100px; height: 24px; line-height: 24px; background: #F7F7F7; border: 1px solid #DBDBDB; }
.input5 { width: 240px; height: 24px; line-height: 24px; background: #F7F7F7; border: 1px solid #DBDBDB; }
.input6 { width: 320px; height: 24px; line-height: 24px; background: #F7F7F7; border: 1px solid #DBDBDB; }
.input7 { width: 100px; height: 20px; line-height: 20px; background: #F7F7F7; border: 1px solid #DBDBDB; }

/*按钮 */
.btn1 { padding: 2px 10px; font-size: 13px; text-align: center; text-shadow: #80AD10 0 1px 0; border:1px solid #80AD10; border-radius: 2px; background: #A5D62D; background-image: -webkit-linear-gradient(top, #A5D62D, #9AC827); color:#FFF; cursor: auto; display: inline-block; cursor: pointer; }
.btn1:hover { border:1px solid #6A8F0D; background: #94C025; background-image: -webkit-linear-gradient(top, #94C025, #799D1E); }
.err { border: 1px solid #FF0E00; margin: 0 5px; padding: 3px 10px 2px; background: #F7EFDB; color: #FF0E00; }
.box { width: 1000px; margin: 0 auto; }

.home_header .site_name { float: left; margin-left: 330px; line-height: 30px; font-size: 20px; color: #FFF; }
.header_box { background: #32A1FB; height: 30px;  }
.home_header { width: 1000px; margin: 0 auto; height: 30px;  }
.home_header .browse { color: #FFF; float: left; width: 90px; height: 30px; font-size: 16px; text-align: right; line-height: 30px; background: url(../images/browse.png) no-repeat 10px center; }
.home_header .search_box { float: right; margin-right: 10px; }
.home_header .keyword { float: left; width: 180px; height: 24px; margin-top: 3px; line-height: 24px; background: #FFF; border: none; }
.home_header .dosearch { float: left; width: 40px; height: 24px; margin-top: 3px; line-height: 24px; background: #333; color: #FFF; border: none; }
.home_header .header_pic { float: right; margin-top: 3px; margin-left: 5px; width: 24px; height: 24px; }
.home_header .header_pic img { width: 24px; height: 24px; }
.home_header .username { padding: 0 10px; float: right; height: 30px; line-height: 30px; }

.footer { padding: 10px 0; margin-top: 10px; color: #999; overflow: hidden; zoom: 1; }
.footer .gh { float: left; margin-left: 200px; width: 44px; height: 47px; background: url(../images/gh.jpg) no-repeat; }
.footer .footerinfo { float: left; margin-left: 20px; line-height: 25px; }
.pagination { padding: 3px; font-size: 12px; margin-top: 5px; text-align: center;}
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #CCC; text-decoration: none; color:#DC351A;}
.pagination a:hover, div.pagination a:active { border: 1px solid #DC351A; background-color: #DC351A; color: #FFF; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #DC351A; font-weight: bold; background-color: #DC351A; color: #FFF; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD; }

.showmessage { width: 300px; margin: 0 auto; border: 1px solid #8EB3E7; margin-top: 100px; }
.showmessage h2 { height: 25px; line-height: 25px; background: #4C587D; color: #FFF; font-size: 14px; text-align: center; border-bottom: 1px solid #8EB3E7; }
.showmessage p { padding: 10px 15px; }